{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",

  "requirePragma": false,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",

  "experimentalTernaries": true,

  "plugins": ["prettier-plugin-prisma"]
}
