name: CI

on:
  push:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: './generated'
          target-directory: 'lib/generated'
          destination-github-username: 'princemuel'
          destination-repository-name: 'invoice-web-app'
          user-email: vansomecsam@gmail.com
          user-name: princemuel
          target-branch: dev
          commit-message: 'docs: update types and schema for graphql'
