name: CI

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      pandoc/latex # "ubuntu" is a more generic container
      # using "pandoc/latex" because of dependencies
      # used in the specific "build.sh"
    steps:
      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: 'src/lib/generated/'
          target-directory: 'lib/generated/'
          destination-github-username: 'princemuel'
          destination-repository-name: 'invoice-web-app'
          user-email: vansomecsam@gmail.com
          user-name: princemuel
          target-branch: dev
          commit-message: 'docs: update types and schema for graphql'
